
<h1>Battle city</h1>
<div>
	<% if user_signed_in?%>
		<p>Вы вошли как <%=current_user.email %> <%= link_to "Выйти", destroy_user_session_path, :method => :delete %></p>
		<div id="keys">
			<div onclick="send()"style="width:200px; height:200px; background-color:blue; position: absolute; top: 250px;">Влево</div>
			<div onclick="send()" style="width:200px; height:200px; background-color:red; position: absolute; left: 205px; ">Вверх</div>
			<div onclick="send()" style="width:200px; height:200px; background-color:yellow; position: absolute; left: 205px; top: 350px;">Вниз</div>
			<div onclick="send()" style="width:200px; height:200px; background-color:green; position: absolute; left: 405px; top: 250px;">Вправо</div>
			<div onclick="send()" style="width:605px; height:200px; background-color:black; position: absolute;  top: 550px;">Огонь</div>
<div id="chat-log"></div>
		</div>
	<% else %>
		<%= link_to "введите код", code_new_path %></p>
	<% end %>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      // where our WebSockets logic will go later
      var socket, host;
      host = "ws://0.0.0.0:3005";
      function connect() {
        try {
          socket = new WebSocket(host);
          addMessage("Socket State: " + socket.readyState);
          socket.onopen = function() {
            addMessage("Socket Status: " + socket.readyState + " (open)");
          }
          socket.onclose = function() {
            addMessage("Socket Status: " + socket.readyState + " (closed)");
          }
          socket.onmessage = function(msg) {
            addMessage("Received: " + msg.data);
          }
        } catch(exception) {
          addMessage("Error: " + exception);
        }
      }
      function addMessage(msg) {
        $("#chat-log").append("<p>" + msg + "</p>");
      }
      function send() {
        var text = "Вы нажмали на кнопку";       
        try {
          socket.send(text);
          addMessage("Sent: " + text)
        } catch(exception) {
          addMessage("Failed To Send")
        }
              }
      $(function() {
        connect();
      });
      
    </script>
