<h1>Ваш профиль</h1>
<p>Ваш логин <%=current_user.email %></p>
<p>Ваш код: <%=current_user.code %></p>
<%= button_to "CODE", persons_generate_path %>
<p><%= link_to "Вернутся на главную", root_path %></p>
